/* Group 33406 */


/* Register */
body {
    width: 100%;
    height: 100%;

    background: linear-gradient(to right,
            #CCFCBB 0%,
            #CCFCBB 40%,
            #0D3824 40%,
            #0D3824 100%);
}

/* Form Register */
.register {
    position: fixed;
    top: 10%;
    left: 50%;
    margin-top: -50px;
    margin-left: -696px;

}

.center {
    position: fixed;
    top: 10%;
    left: 50%;
    margin-top: -50px;

}

/* Rectangle 1 */
.register .col-1 {
    position: absolute;
    width: 728px;
    height: 410px;
    left: 289px;
    top: 203px;

    /* Green1 */
    background: #0D3824;
    box-shadow: 0px 0px 41.4px 11px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

/* Rectangle 1202 */
.register .col-2 {
    position: absolute;
    width: 268px;
    height: 410px;
    left: 276px;
    top: 203px;

    /* Green2 */
    background: #CCFCBB;
    box-shadow: -11px 0px 12px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px;

}

/* monstera-deliciosa-plant-pot-removebg-preview 1 */
.register .col-2 .img-plant {
    margin-top: -50px;
    margin-left: 60px;
    width: 143px;
    height: 143px;
    left: 339px;
    top: 301px;

    background: url(img-plant.png);
}



/* NamaApp */
h2 {
    position: absolute;
    width: 172px;
    height: 58px;
    left: 324px;
    top: 421px;
}


/* House of Plants */
.hop {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 90%;
    bottom: 10%;

    font-family: 'Mitr';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Green1 */
    color: #0D3824;
}




.main {
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 70px;
    margin-bottom: 18px;
    font-family: 'Mitr';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 40%;
    height: 35px;
    background: #d4eaec;
    justify-content: center;
    display: flex;
    margin-top: 0px;
    margin-left: 310px;
    margin-bottom: 10px;
	font-size: 1em;
    font-weight: bold;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 22px;
}

input .username {
    margin-left: 20px;
}

button {
    width: 25%;
    height: 45px;
    justify-content: center;
    display: block;
    color: #000000;
    background: #CCFCBB;
    font-size: 1.29rem;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 380px;
    margin-bottom: 40px;
    outline: none;
    border: none;
    border-radius: 22px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    background: #8dbb7d;
}

.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {
    transform: scale(.6);
}

